Да се създаде уебсайт/платформа (използвайки Ruby on Rails) за онлайн училище. 
Приложението трябва да има следната функционалност:
  - Електронен дневник за всички класове.
  - Учителят да може да публикува за всеки клас (випуск) домашни работи, задания, съобщения, 
  	предупреждения за контролни работи. Публикациите от учител да имат възможност за задаване 
  	на приоритет и по този начин да се управлява от приложението подреждането на публикациите 
  	на страницата на предмета, за дадения випуск.
  - Всеки клас да има скрита страница, достъп до която да имат само учениците от този клас.
  - Да се изгради удобна система за предаване на домашни. 
  	Също така и система за автоматично проверяване на домашни ако са от подходящ тип, например:
  	софтуер (система, с която удобно преподавателя да може да пише тестове за програмния код на
  	учениците) или тестови задачи. Оценяването на предаденото домашно да се сумира с общите точки на
  	ученика.
  - Локална версия на Въпрос/Отговор приложение, от типа на Stack Overflow. Точките (получавани при
  	даването на полезни отговори) могат да се взимат в предвид при оценяването на учениците, което
  	ще ги мотивира.
  - Обща страница за всички класове, където да се дава информация засягаща всички.
  - Система, която дава точки на учениците при активност в приложението.
